<div class="uk-container">
    <nav class="uk-navbar">
        <div class="uk-navbar-letf">
            <a routerLink="/" class="uk-navbar-item uk-logo">Home</a>
        </div>
        <div class="uk-navbar-letf">
            <a routerLink="/" class="uk-navbar-item uk-logo">Todos</a>
        </div>
        <div class="uk-navbar-right">
            <label class="uk-navbar-item uk-logo">Visitante</label>
            <a routerLink="/login" class="uk-navbar-item uk-logo cursor-pointer">Login</a>
        </div>
    </nav>
</div>