<div class="uk-container">
  <form (ngSubmit)="onSubmit()">

    <div class="uk-margin">
      <input class="uk-input uk-form-width-large uk-form-large" type="text" placeholder="E-mail" [(ngModel)]="email"
        name="email" />
    </div>

    <div class="uk-margin">
      <input class="uk-input uk-form-width-large uk-form-large" type="text" placeholder="Password"
        [(ngModel)]="password" name="password" />
    </div>

    <button class="uk-button uk-button-primary uk-button-large uk-width-small" type="submit">
      Login
    </button>
  </form>
</div>